*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: auto;
    background-image: url("/responsiveForm/bg-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.container{
    margin: 2rem;

    width: 70vw;
    /* height: auto;     */
    background-color: beige;
    /* border: 1px solid red; */
    padding: 8px;
}

img{
    width: 100%;
}

.heading-content{
    /* border: 1px solid blue; */
    grid-column-start: 1;
    grid-column-end: 4;
    display: grid;
    justify-content: center;
    /* align-items: center; */
    grid-template-rows:4rem 2rem;

}

h1{
    color: #02bfc9;
    font-size: 3rem;
    text-align: center;
}

.heading-para{
    /* border:1px solid gray; */
    /* margin-left: 10%; */
    width: 69vw;    
}

p{
    text-align: center;
    font-size: 1.3rem;
    color: #02bfc9;
}

.main-heading{
    grid-column-start: 1;
    grid-column-end: 4;
}

.name-section{
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 3rem;
    grid-template-columns: 25% 75%;
    padding-top: 1rem ;
}

.name-input{
    display: flex;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid brown; */
}

.first-name,.last-name{
    display: flex;
    flex-direction: column;
    width: 100%;
}

input[type=text]{
    width: 95%;
    /* border: 1px solid yellow; */
    height: 1.5rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #00a9bf;
}

label{
    color: #00a9bf;
}

.id-section{
    display: grid;
    grid-template-rows: 2rem;
    grid-template-columns: 25% auto;
    padding-top: 1rem;
}

.id-input{
    width: 100%;
    /* border: 1px solid green; */
}

.supervisor-rating,.hr-rating{
    /* border: 1px solid tan; */
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 25% 75%;
    padding-top: 1rem;
}

.heart-rating input,.star-rating input{
    display: none;
}

.heart-rating label,.star-rating label{
    position: relative;
    display: inline-block;
    width: 3rem;
    cursor: pointer;
    /* border: 1px solid green; */
}

.heart-rating label::before{
    content: "\2665";
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
}

.heart-rating label::after{
    content: "\2665";
    color: #798f92;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 3rem;
    opacity: 0;
}

.star-rating label::before{
    content: "\2605";
    position: absolute;
    font-size: 3rem;
}

.star-rating,.heart-rating{
    /* border: 1px solid red; */
    /* width: 80%; */
    margin-left: 0;
    direction: rtl;
}

.star-rating label::after{
    content:"\2605";
    color: #798f92;
    position:absolute;
    font-size: 3rem;
    opacity: 0;
}

.heart-rating label:hover::after,
.star-rating label:hover::after,
.heart-rating label:hover ~label::after,
.star-rating label:hover ~label::after,
.heart-rating input:checked ~label::after,
.star-rating input:checked ~label::after{
    opacity: 1;
}

.dropdown-section{
    display: grid;
    grid-template-rows: 3rem;
    grid-template-columns: 25% 75%;
    padding-top: 2rem;
}

.dropdown-input{
    width: 100%;
    /* border: 1px solid blue; */
}

select{
    width: 95%;
    height: 2rem;
    border: none;
    border-bottom: 1px solid #02bfc9;
    background-color: transparent;
    font-size: 1rem;
    text-align: center;
}

.team-reviews{
    /* border: 1px solid burlywood; */
    padding-top: 1rem;
    display: grid;
    grid-template-rows: 7rem;
    grid-template-columns: 25% 75%;
}

.review-radio{
    display: grid;
    padding-left: 3rem;
}

.opinion{
    display: grid;
    grid-template-rows: 4rem;
    grid-template-columns: 25% 75%;
    padding-top: 1rem;
}

textarea{
    width: 95%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #02bfc9;
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 1.2rem;
}
button{
    background-color: #00a9bf;
    color: white;
    height: 2rem;
    width: 6rem;
    border-radius: 0.4rem;
    font-size: 1.2rem;
}



/* phone */
@media (max-width:400px){
 h1{
    font-size: 1.7rem;
 }  
 p{
    font-size: 0.8rem;
 }

 .name-section,.id-section{
    grid-template-rows: 30% 40%;
    grid-template-columns: 100%;
}

 .supervisor-rating,.hr-rating{
    display: grid;
    grid-template-rows: repeat(2,3.5rem);
    grid-template-columns: 100%;
 }

 .star-rating,.heart-rating{
    /* border: 1px solid red; */
    width: 100%;
    direction: rtl;
}

 .heart-rating label,.star-rating label{
    font-size: 2rem;
    width: 2rem;
 }

 .dropdown-section{
    grid-template-rows: 40% 40%;
    grid-template-columns: 100%;
 }
 .team-reviews{
    grid-template-rows: repeat(2,3rem);
    grid-template-columns: 100%;
 }

 .opinion{
    grid-template-columns: 100%;
    grid-template-rows: 40% 40%;
 }
}


@media (max-width:664px){
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }

    .name-section,.id-section{
        grid-template-rows: 30% 40%;
        grid-template-columns: 100%;
    }

    .supervisor-rating,.hr-rating{
        grid-template-rows: repeat(2,3.5rem);
        grid-template-columns: 100%;
     }
    
     .heart-rating label,.star-rating label{
        font-size: 2rem;
        width: 2rem;
     }
     .star-rating,.heart-rating{
        /* border: 1px solid red; */
        width: 100%;
        direction: rtl;
    }

     .dropdown-section{
        grid-template-rows: 40% 40%;
        grid-template-columns: 100%;
     }
     
     .team-reviews{
        grid-template-rows: repeat(2,3rem);
        grid-template-columns: 100%;
     }

     .opinion{
        grid-template-columns: 100%;
        grid-template-rows: 40% 40%;
     }
}